<div class="border-bottom row" style="margin-botton:16px;padding-bottom:8px;">
  <div class="col-10">
    <h6 style="color:rgb(120,120,120);margin-bottom:4px;">
      {{prod['title']}}
    </h6>
    <div>
      Description : {{prod['Description']}}
    </div>
      {% if 'Price' in prod %}
        <div>
           Price : {{prod['Price']}}
        </div>
      {% endif %}
  </div>
  <div class="col-2">
    <a href="https://www.amazon.in/Derma-Co-Niacinamide-Hyaluronic-Radiance/dp/B096MNYLWS/ref=sr_1_1_sspa?adgrpid=135275230277&dib=eyJ2IjoiMSJ9.eY4-OYdcvl2Zo3ZT9SLw2HX_8lKIxTJn-yZeWLCVbuNR1jZUU7yp5oUpnPOHkNYiM0Wgfhrj2l4_5zMZeTqf1rYBaVVB1066ktMjS7eVYkfdD7BDEXMjs914OuZtis7ZfTD6NFAL8voUKRkqoshG9WcgEqq7bAyXjtIJk5HHi7S4coSf3Uu3skl-Oyum5jfWyTOoIUhx1M_WOV03aUROKn7dS5f3HC2F2RRmsEabHBBnMtWyNHp2MiQaU_H_LGs0dYoXv6fv4a2JIKmfaMhGFUNYU9OUoT9l0AF6ZqLZ7A4.8Gh9n58vhIoeGCQBn50rH1DlW-LDWuvJgsI7rma8sok&dib_tag=se&ext_vrnc=hi&gclid=Cj0KCQjw-_mvBhDwARIsAA-Q0Q62XRhud84JdZP3KF9brTKzxG0rGHES2qwZ0tjabMZMZyIkTkRYDqYaAjtpEALw_wcB&hvadid=591601836680&hvdev=c&hvlocphy=9149244&hvnetw=g&hvqmt=b&hvrand=13505679298739707004&hvtargid=kwd-302474405038&hydadcr=22008_1893504&keywords=natural%2Bvit%2Bc%2Bserum&qid=1711215669&sr=8-1-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&th=1" type="button" class="btn btn-outline-primary mt-3">Buy Now</a>
  </div>
</div>